{% extends 'base.html' %}
{% block title %}Agregar Persona{% endblock %}
{% block content %}
<h1 class="text-center mt-4">Agregar Persona</h1>
<form method="POST" class="mt-3">
    {% csrf_token %}
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre">
    </div>
    <div class="mb-3">
        <label for="edad" class="form-label">Edad</label>
        <input type="number" class="form-control" id="edad" name="edad">
    </div>
    <button type="submit" class="btn btn-success">Agregar</button>
</form>
{% endblock %}